.header {
background-color: #EDF7FA;
position: absolute;
width: 100%;
}
.menu {
    margin: 2rem 0;
    .menu__inner {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: end;
        list-style: none;
        .menu__items {
            & a {
                transition: $transition;
                &:hover {
                    color: $buttonColor;
                    transition: $transition;
                } 
            }
        }
    }
}