// main color 
$mainColor: black; 
$textColor: #000000; 
$textColor_2: #000000; 
$buttonColor: #FF6464;; 
$blue: #EDF7FA;
$darcBlue: #21243D;
 
// fontsize  
$fontSize: 10px; 
 
// transition 
$transition: .5s ease-in-out; 
 
// scrollbar vars 
$btnColor: #331e1e; 
$trackColor: #c49191; 
$scrollWidth: 10px; 
 
// main fonts 
$mainFont: 'Heebo'; 
 
// min width website size 
$minWidth: 320; 
 
// max width website size 
$maxWidth: 1920; 
 
// container maxwidth size  
$contentContainer: 900; 
 
// container padding  
// (30 = 15px left + 15px right side, if 0 = without indent) 
$paddingContainer: 30; 
 
 
// container full size  
// contentContainer + paddingContainer 
$container: $contentContainer + $paddingContainer; 
 
// responsive type  
// 1 - without breackpoints 
// 2 - with breackpoints  
$responsiveType: 1; 
 
 
// breackpoints 
$pc: $container;  
$table: 991.98; 
$mobile: 767.98; 
$smallMobile: 479.98;